<% provide(:title, 'Contact Us') %>
    <h1>Contact</h1>
    <p>
      You can try to Contact us.  But we don't respond.  Instead we interpret your contact as an act of violence and declare war forthwit.
</p> 