<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      ha!  you were looking for help?  lol.  whatever.  

</p> 

<p> another paragraph</p>

<a href="http://www.google.com">google, tabe completion is awesome</a>