
<div class="center hero-unit">

   <h1>Big App</h1>

    <h2>
      You wish your Big App was this cool</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> 
</div> 



<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>

      doing a little bit of addition, 1 + 1 = 
      <%= 1 + 1 =%>
	</p> 


