<footer class="footer">
  <small>
    <a href="http://curebit.com/">Curebit Fool!</a>
    by Code Beast
  </small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>

</ul> 
</nav>

<!-- Begin Curebit integration code -->
  <iframe src="https://curebit.com/x/f8YUC?affiliate_member[email]=" frameborder='0' width='430' height='130'></iframe>
<!-- End Curebit integration code -->

</footer>