<footer class="footer">
  <small>
    <a href="http://curebit.com/">Curebit Fool!</a>
    by Code Beast
  </small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>

</ul> 
</nav>

<iframe style="border-width: 0px; border-style: none;" height="130" width="430" src="https://curebit.com/x/Nouyd" frameborder="0" scrolling="no"/>

</footer>